*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mohave", sans-serif;
}
header{
    width: 100%;
    height: 90px;
    /* border: 1px solid black; */
    background-color: #020202;
    position: sticky;
    top: 0;
}
#hero{
    background-image: url(/images/Hero1.jpg);
    background-position: center;
    background-size: cover;

}
#shopnow{
    width: 105px;
    height: 54px;
    border: none;
    background-color: #CD9E53;
    font-size: 18px;
    color: #023636;
    font-weight: 600;
    border-radius: 8px;

}

#shopnow:hover{
    transform: translateY(-5px);
    transition: 0.3s;
}


#cart-img{
    padding: 15px;
    border: 1px solid #FFCF2A;
    border-radius: 8px;
}
#imghover{
    height:480px ;
    margin-bottom: 20px;
}
#img{
    border-radius: 8px;
    width: 100%;
    height: 100%;
}



#textbox{
    text-align: center;
}
#title{
    color: #F5EEE2;
    font-size: 20px;
    margin-bottom: 5px;
}
#star{
    color: #FFCF2A;
}
#rate{
    color: #F5EEE2;
    font-size: 16px;
    margin-left: 10px;
}
#prise{
    margin-top: 5px;
    color: #F5EEE2;
    font-size: 20px;
    margin-bottom: 10px;
}


#addtocart{
    width:255px;
    height: 54px;
    border: none;
    background-color: #CD9E53;
    font-size: 18px;
    color: #023636;
    font-weight: 600;
    border-radius: 8px;
}
#addtocart:hover{
    transform: translateY(-5px);
    transition: 0.3s;
}

.foota{
    font-size: 18px;
    text-decoration: none;
    color: #F5EEE2;
    display: block;
    margin-bottom: 12px;
    font-weight: 600;
}
#input{
    padding: 14px 18px;
    margin-bottom: 10px;
    height: 54px;
    border-radius: 8px;
    border: 1px solid #F5EEE2;
    background-color: transparent;
    color: #F5EEE2;
    font-size: 18px;
}
#footerbtn{
    margin-bottom: 10px;
    height: 54px;
    border: none;
    background-color: #CD9E53;
    font-size: 18px;
    color: #023636;
    font-weight: 600;
    border-radius: 8px;
}
#footerbtn:hover{
    transform: translateY(-5px);
    transition: 0.3s;
}

/* aside  */

#asid{
    position: fixed;
    width: 40%;
    height: 100vh;
    margin-top: -100px;
}
#inputbox{
    height: 54px;
    border-radius: 8px;
    border: 1px solid #F5EEE2;
    position: relative;
    margin-top: 22px;
}

#input{
    width: 100%;
    padding: 14px 18px;
    height: 54px;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    color: #F5EEE2;
    font-size: 18px;
}
#search{
    position: absolute;
    right: 10px;
    color: #F5EEE2;
    font-size:25px;
    top: 15px;
}